body {
  position: relative;
  background: $main-color;
  color: $main-color;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  .wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 30px;
    background-color: white;
  }
}
