<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Simple Quiz</h1>

        <div class="line"></div>
      </header>
      <div class="menu">
        <h2 class="question"></h2>
        <ul class="answers active">
          <li class="answers__element"></li>
          <li class="answers__element"></li>
          <li class="answers__element"></li>
          <li class="answers__element"></li>
        </ul>
      </div>
      <footer>
        <button>Next</button>
        <button class="reset">Play Again!</button>
      </footer>
    </div>
  </body>
</html>
