<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Simple Quiz</h1>

        <div class="line"></div>
      </header>
      <div class="menu">
        <h2 class="question">1. Which is largest animal in the world?</h2>
        <ul class="answers">
          <li class="answers__element">Shark</li>
          <li class="answers__element">Blue whale</li>
          <li class="answers__element">Elephant</li>
          <li class="answers__element">Giraffe</li>
        </ul>
      </div>
      <footer>
        <button>Next</button>
      </footer>
    </div>
  </body>
</html>
